/* général */
@import url('https://fonts.googleapis.com/css2? family= Shrikhand & display=swap');
@import url('https://fonts.googleapis.com/css2? famille= Roboto:wght@300;400;500 &family= Shrikhand & display=swap');


body,html{
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

body{
    padding: 0;
    margin: 0;
    font-size: 1rem;
    width: 100%;
}

/*animation dela page d'acceuil*/

.acceuil{
    
    width: 100%;
    background: lightgray;
    height: 100%;
    line-height: 100%;
    font-family: Shrikhand, sans-serif;
    font-size: x-large;
    vertical-align: middle;
    text-align: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: desapear 3s ease-in-out forwards;
}

.loader{
    color: #484848;
    font-size: 2.5rem;
    letter-spacing: 15px;
    margin-bottom: 150px;
    animation: flash 1.2s linear infinite;
}

@keyframes desapear {
    0%{
        opacity: 3;
    }
    100% {
        opacity: 0;
    }
}

@keyframes flash {
    0% {
        color:#9356DC;
        text-shadow: black;

    }
    90% {
        color:#9356DC;
        text-shadow: black;

    }
    100% {
        color:#9356DC;
        text-shadow: black;

    }

}
.loader:nth-child(1){
    animation-delay: 0.1s;
}
.loader:nth-child(2){
    animation-delay: 0.2s;
}
.loader:nth-child(3){
    animation-delay: 0.3s;
}
.loader:nth-child(4){
    animation-delay: 0.4s;
}
.loader:nth-child(5){
    animation-delay: 0.5s;
}
.loader:nth-child(6){
    animation-delay: 0.6s;
}
.loader:nth-child(7){
    animation-delay: 0.7s;
}
.loader:nth-child(8){
    animation-delay: 0.8s;
}
.loader:nth-child(9){
    animation-delay: 0.9s;
}
.loader:nth-child(10){
    animation-delay: 1s;
}

.fade-out{
    opacity: 0;
    transition: opacity 0.4s ease-out;
}

h1, h2 {
    font-size: 1.5em;
    font-weight: bold;
}

/*logo*/

.header{
    text-align: center;
    padding: 1rem 2rem;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}
.logo{
    color: rgb(5, 5, 5);
    font-weight: bolder;
    margin: 0;
    margin-bottom: 0px;
    font-family: "shrikhand";
    letter-spacing: 1px;
    font-style: italic;
    font-size: 2rem;
}

.logo-menus{
    font-weight: bolder;
    font-family: "shrikhand";
    letter-spacing: 1px;
    font-style: italic;
    font-size: 2rem;
}

.arrow {
    position: absolute;
    left: 20px;
}

/*barre de recherche*/
.ville {
    background: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 5px 5px 0px #dddddd;
}

input{
    border: none;
    background:#eaeaea;
    font-size: 1rem;
    padding: 20px 5px 20px 5px;
    margin-top: 5px;
    text-align: center;
    width: 150px;
}

/* bouton explorer */

.explorer {
    background: #f6f6f6;
    text-align: center;
    width: 100%;
    padding: 40px 0;
}

.explorer h3 {
    margin-top: 0px;
}

.explorer p {
    font-size: 1rem;
    
}
.explorer button {
    background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 10px 15px;
    color: #fff;
    font-weight: bold;
    box-shadow: 4px 4px 6px #aaa;
    cursor: pointer;
}

.explorer button:hover {
    transform: scale(1.02);
    opacity:0,9;
    background-color: #ae80e5;
    background-blend-mode: lighten;
    box-shadow: 4px 4px 6px #000;
}

/* fonctionnement */
.operation{
    margin-bottom: 50px;
    background-color: white;
}
.operation h2{
    margin: 20px;
}

ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
    list-style-type: none;
    margin-bottom: 50px;
}

.steps li:hover {
    background: #f2eafb;
  }
.steps li:hover .fas {
    color: #9356dc;
}
.number {
    background: #9356DC;
    color: #fff;
    border-radius: 50%;
    padding: 5px 9px;
    margin-left: -25px;

  }

.li_number  {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px;
    margin: 15px 20px 15px 30px;
    border-radius: 20px;
    box-shadow: 1px 2px 8px 2px #c4c4c4;
    background-color: #f5f5f5;

}

.steps-icon{
    padding: 1rem;
}

/*main-container*/

.container{
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
}
.titre_resto{
    margin: 20px;
}

.menus_resto{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2rem;
    justify-content: space-evenly;

}

.resto{
    border-radius: 25px;
    box-shadow: 4px 4px 6px #aaa;
    margin: 20px;
    position: relative;
    background: #fff;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction:column;
    width: 100%;
}
.resto_img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    height: 85%;
    object-fit: cover;
}
.resto_badge{
    color: #008766;
    background: #99E2D0;
    border: 5px solid #99E2D0;
    border-radius: 5px;
    position: absolute;
    right: 1%;
    top: 5%;

}
.resto_footer{
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    height: 25%
}
.resto_content{
    flex: 1;
}
.resto_nom{
    text-decoration: none;
    margin-bottom: 0,25rem;
    text-transform: capitalize;
}
.point_resto{
    text-decoration: none;
    margin: 0;

}
.resto_btn{
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: transparent 0px solid;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
.resto_like_fas{
    color: transparent;
    background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 200ms ease-in-out;
}

.resto_footer:hover .resto_like_fas{
    opacity: 1;
}